body {
    // padding: 10px 25px;
  }

  a,
  a:hover,
  a:focus {
    color: #c92c21;
  }

  #pageBanner {
    background-image: url('https://m.trivadis.com/hubfs/TVD_Training/Landingpages/Angular/Angular-Training.jpg');
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -165px;
    padding: 15px 30px;
  }
  #pageBanner h1 {
    font-size: 38px;
    color: #fff;
    font-weight: 700;
    line-height: 74px !important;
    margin-bottom: 0;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.75);
  }
  header {
    nav {
      margin: 5px 0;
    }
    nav {
      a {
        font-size: 1em;
        // background-color: #cdcdcd;
        padding: 5px;
        margin-right: 10px;
      }
      .active {
        color: black;
      }
    }
  }
  main {
    padding: 10px 0;
  }
  footer {
    font-size: 0.85em;
    padding-bottom: 2rem;
    padding-top: 1em;
  }
  .panel-primary > .panel-heading {
    background-color: #c92c21;
    border-color: #c92c21;
  }

  .btn-primary {
    color: #fff;
    background-color: #c92c21;
    border-color: #c92c21;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #8c0000;
    border-color: #8c0000;
    transition: all 300ms linear;
  }

.selected {
  background-color: #8c0000 !important;
  color: #fff !important;
}

  /* Fade transition
  app-root main {
      animation-duration: .5s;
      opacity: 0;
      animation-name: fadeIn;
      animation-fill-mode: forwards;
      transition: transform .5s ease;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
   */

  /* Slide transition  */
  app-root main {
    animation-duration: .5s;
    animation-name: slideIn;
    animation-fill-mode: forwards;
    transition: transform .5s ease;
  }

  @keyframes slideIn {
  from {
    transform: translate(-200px);
  }

  to {
    transform: translate(0px);
  }
  }

